//display
.flex {
    display: flex;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

//align-items
.items-flex-start {
    align-items: flex-start;
}

.items-flex-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

//justify-content
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

//flex direction
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

//wrap
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

//gap
.gap-4 {
    gap: 4px;
}

.gap-x-4 {
    gap: 4px;
}

.gap-y-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-x-8 {
    gap: 8px;
}

.gap-y-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-x-12 {
    gap: 12px;
}

.gap-y-12 {
    gap: 12px;
}

.gap-12 {
    gap: 16px;
}

.gap-x-16 {
    gap: 16px;
}

.gap-y-16 {
    gap: 16px;
}

.gap-20 {
    gap: 20px;
}

.gap-x-20 {
    gap: 20px;
}

.gap-y-20 {
    gap: 20px;
}

.gap-24 {
    gap: 24px;
}

.gap-x-24 {
    gap: 24px;
}

.gap-y-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.gap-x-32 {
    gap: 32px;
}

.gap-y-32 {
    gap: 32px;
}

//speacil padding
// .gap-4016 {@include clamp(gap, 40, 16, 1280, 680)} 
// .gap-1608 {@include clamp(gap, 16, 8, 1280, 680)} 
//container
.container {
    width: 100%
}

.container-xxl {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container-xl {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container-l {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.container-m {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.container-s {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
}

//object-fit
.object-contain {
    object-fit: contain;
}

.object-cover {
    object-fit: cover;
}

.object-center {
    object-position: center;
}

.object-bottom {
    object-position: bottom;
}

.object-top {
    object-position: top;
}

.object-left {
    object-position: left;
}

.object-right {
    object-position: right;
}

//overflow
.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

//position
.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.top-50 {
    top: 50%
}

.bottom-50 {
    bottom: 50%
}

.left-50 {
    left: 50%
}

.right-50 {
    right: 50%
}

.top-0 {
    top: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.right-0 {
    right: 0
}

//translate
.translate-50 {
    transform: translate(50%, 50%);
}

.translate-x-50 {
    transform: translateX(50%);
}

.translate-y-50 {
    transform: translateY(50%);
}

//padding
.p-0 {
    padding: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.p-6 {
    padding: 8px;
}

.pt-6 {
    padding-top: 8px;
}

.pb-6 {
    padding-bottom: 8px;
}

.pl-6 {
    padding-left: 8px;
}

.pr-6 {
    padding-right: 8px;
}

.px-6 {
    padding-left: 8px;
    padding-right: 8px;
}

.py-6 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.p-12 {
    padding: 12px;
}

.pt-12 {
    padding-top: 12px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pl-12 {
    padding-left: 12px;
}

.pr-12 {
    padding-right: 12px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.p-16 {
    padding: 16px;
}

.pt-16 {
    padding-top: 16px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pl-16 {
    padding-left: 16px;
}

.pr-16 {
    padding-right: 16px;
}

.p-24 {
    padding: 24px;
}

.pt-24 {
    padding-top: 24px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pl-24 {
    padding-left: 24px;
}

.pr-24 {
    padding-right: 24px;
}

.p-32 {
    padding: 32px;
}

.pt-32 {
    padding-top: 32px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pl-32 {
    padding-left: 32px;
}

.pr-32 {
    padding-right: 32px;
}

.px-12020 {
    @include clamp(padding-left, 120, 20, 1280, 680);
    @include clamp(padding-right, 120, 20, 1280, 680)
}

.py-6020 {
    @include clamp(padding-top, 60, 20, 1280, 680);
    @include clamp(padding-bottom, 60, 20, 1280, 680)
}

// .py-main {@include clamp(padding-top, 32, 20, 1280, 680); @include clamp(padding-bottom, 60, 40, 1280, 680)} 
//margin
.m-auto {
    margin: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mt-auto {
    margin-top: auto;
}

.mr-auto {
    margin-right: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.m-0 {
    margin: 0;
}

.mx-0 {
    margin: 0;
}

.my-0 {
    margin: 0;
}

// .my-6032 {@include clamp(margin-top, 60, 32, 1280, 680); @include clamp(margin-bottom, 60, 32, 1280, 680)} 
//border radius
.rounded-none {
    border-radius: 0px;
}

.rounded-sm {
    border-radius: 8px;
}

.rounded-md {
    border-radius: 16px;
}

.rounded-lg {
    border-radius: 24px;
}

.rounded-xl {
    border-radius: 32px;
}

.rounded-2xl {
    border-radius: 48px;
}

.rounded-3xl {
    border-radius: 50%;
}

//border width
.border-1 {
    border-width: 1px;
}

.border-1 {
    border-width: 2px;
}

.border-1 {
    border-width: 4px;
}

//border style
.border-solid {
    border-style: solid;
}

//text-align
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

//width
.max-w-379 {
    max-width: 370px;
}

.max-w-154 {
    max-width: 154px;
}

.w-100 {
    width: 100%;
}

//opacity
@for $value from 1 through 10 {
    .opacity-#{$value} {
        @if $value ==10 {
            opacity: 1;
        }

        @else {
            opacity: #{'.'+$value};
        }
    }
}

@media screen and (max-width:1170px) {
    .mq-l\: {
        &px-default {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}
.reverse-row {
    flex-direction: row-reverse;
}

//fontawesome color and size rules
[class^="fa-"] {

    //Colors
    &.darkblue {
        color: $mainColorBlueDark;
    }

    &.lightblue {
        color: $mainColorCyan;
    }

    &.darkorange {
        color: $mainColorOrangeDark;
    }

    &.lightorange {
        color: $mainColorOrangeLight;
    }
    &.white {
        color: $white;
    }

    &.fs-16 {
        font-size: 16px;
    }

    &.fs-18 {
        font-size: 18px;
    }

    &.fs-20 {
        font-size: 20px;
    }

    &.fs-24 {
        font-size: 24px;
    }

    &.fs-28 {
        font-size: 28px;
    }

    &.fs-32 {
        font-size: 32px;
    }
}

a {
    &:hover {
        .fa-brands {
            &.darkblue {
                color: $mainColorOrangeDark;
            }

            &.darkorange {
                color: $mainColorBlueDark;
            }
        }
    }
}