// @import 'webkit';
@import 'mixin';
@import 'font';
@import 'color';
@import 'classes';
// @import 'design';
// @import 'common_attributes';
// @import 'section_templates';
// @import 'default_classes';
@import '../components/button';
@import '../components/input';
// @import '../components/slider';
// @import '../components/card';


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    color: $fontColor;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-family: Inter;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    &.overflow{
        overflow-y: hidden;
    }
}
body{
    position: relative;
    background-color: $bg-001;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
}
main {
    min-height: calc(100dvh - 327px);
}
button{
    outline: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    line-height: normal;
    // @include webkit(font-smoothing,inherit);
    // @include webkit(appearance,none);
}
ul{
    li{
        list-style: none;
    }
}

//Font Design

h1{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
html{
    &.active{
        overflow: hidden;
    }
}
h1,h2,h3,h4,h5,h6,.title {
    font-family: 'TanTheWhistling'!important;
}
a{
    color: initial;
    &[type="button"] {
        cursor: pointer;
    }
}