@mixin Page-Detail {
    #page-detail {
        .inner-section {
            display: flex;
            flex-direction: column;
            gap: 24px;

            h2 {
                font-size: 40px;
                color: $mainColorOrangeDark;
                font-weight: 800;
            }

            .breadcrumb {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 12px;

                li {
                    display: contents;
                    margin-right: 12px;

                    a {
                        font-family: "TanTheWhistling";
                    }

                    &::after {
                        content: '>';
                        display: block;
                        font-family: "TanTheWhistling";
                        font-size: 16px;
                        font-weight: 800;
                        color: black;
                    }

                    &:last-of-type {
                        pointer-events: none;

                        a {
                            color: $mainColorOrangeDark
                        }

                        &::after {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        #page-detail {
            .inner-section {
                .breadcrumb {
                    gap: 4px;

                    li {
                        font-size: 10px;

                        &::after {
                            font-size: 10px;
                        }

                        &:not(:first-child, :last-child) {
                            display: none;
                        }

                        &:nth-last-child(2) {
                            display: contents;

                            a {
                                display: none;
                            }

                            &::before {
                                content: '...';
                                padding: 0 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin Card-List {
    .card-list {
        .inner-section {
            display: flex;
            // justify-content: center;
            justify-content: flex-start;
            gap: 32px;
            flex-wrap: wrap;

            &.flex-count-1 {
                &>div {
                    flex: 1 1 100%;
                }
            }

            &.flex-count-2 {
                &>div {
                    flex: 1 1 min(50%, var(--card-minWidth));
                }
            }

            &.flex-count-3 {
                &>div {
                    flex: 1 1 min(33%, var(--card-minWidth));
                }
            }

            &.flex-count-4 {
                &>div {
                    flex: 1 1 min(25%, var(--card-minWidth));
                }
            }

            &.flex-count-5 {
                &>div {
                    flex: 1 1 min(20%, var(--card-minWidth));
                }
            }
        }
    }

    @media screen and (max-width: 980px) {
        .card-list {
            .inner-section {
                justify-content: center;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .card-list {
            .inner-section {
                &>div {
                    flex: 1 1 100% !important;
                    min-width: unset;
                }
            }
        }
    }
}

@mixin About {
    #about {
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        margin: 0 auto;
        padding: 40px 0;

        .inner-section {
            max-width: 1440px;
            height: auto;
            width: 100%;
            margin: 0 auto;
            padding-right: clamp(0px, calc(256px + -20vw), 20px);
            padding-left: clamp(0px, calc(256px + -20vw), 20px);
            display: flex;

            .left-part {
                flex: 1 1 50%;
                width: 50%;

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    h2 {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
            }

            .right-part {
                flex: 1 1 50%;
                height: 30dvw;
                width: 50%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@mixin Detail-Content {
    .detail-content {
        .inner-section {
            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                .left-part {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 4px;

                    span {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        font-size: 14px;
                        color: $mainColorBlueDark;

                        img {
                            width: 48px;
                            height: 48px;
                            overflow: hidden;
                            border-radius: 50%;
                        }

                        &:not(:last-child) {
                            &::after {
                                content: '/';

                            }
                        }
                    }
                }

                .right-part {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }

            .content {
                margin-top: 32px;
                @include text-area;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .detail-content {
            .inner-section {
                .info {
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
        }
    }
}

@mixin Banner {
    .banner {
        &.type-01 {
            .inner-section {
                picture {
                    display: block;
                    width: 100%;
                    height: 100%;
                    max-height: 500px;
                    border-radius: 20px;
                    overflow: hidden;

                    img {
                        width: inherit;
                        height: inherit;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .banner {
            &.type-01 {
                .inner-section {
                    picture {
                        max-height: unset;
                        aspect-ratio: 1/1;
                        border-radius: 10px;

                        img {}
                    }
                }
            }
        }
    }
}

@mixin Menu-Top-Side {
    .menu-top-side {
        .inner-section {
            .curved-title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: -60px;

                .curved-text {
                    position: relative;
                    display: inline-block;
                    margin: 0 auto;
                    font-size: 100px;
                    margin: 0 auto;

                    span {
                        min-width: 0.5em;
                        text-align: center;
                        padding: 0;
                        margin: 0;
                        font-size: 32px;
                        font-family: "TanTheWhistling";
                    }
                }
            }

            .title {
                font-size: 24px;
                width: 100%;
                text-align: center;
            }
        }
    }
}

@mixin Menu-List-01 {
    .menu-list-01 {
        .inner-section {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 8px;
            border: 10px solid $mainColorCyan;

            // background-color: $mainColorCyan;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: var(--data-bg-image);
                background-position: center;
                background-repeat: no-repeat;
                filter: brightness(0.5) opacity(0.2);
            }

            .parts {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                gap: 32px;

                .part {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    &:first-child {

                        .name {
                            font-family: "TanTheWhistling";
                            font-size: 18px;
                            font-weight: 600;
                            color: $mainColorBlueDark;
                        }

                        .comment {
                            margin-left: 12px;
                            font-family: "TanTheWhistling";
                            font-size: 13px;
                            font-weight: 300;
                            font-style: italic;

                            &:empty {
                                display: none;
                            }
                        }
                    }

                    &:last-child {

                        .name {
                            font-size: 16px;
                            // font-weight: 600;
                            white-space: nowrap;
                        }

                        .comment {
                            font-size: 14px;
                            font-weight: 300;
                            font-style: italic;

                            &:empty {
                                display: none;
                            }
                        }
                    }
                }

                &.title {
                    margin: 20px 0;

                    .part {
                        .name {
                            color: $mainColorBlueDark;
                            font-family: "TanTheWhistling";
                            font-size: 20px;
                            font-weight: 900;
                        }

                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .menu-list-01 {
            padding: 20px 16px;

            .inner-section {
                border: 6px solid $mainColorCyan;
                padding: 16px 12px;

                &::before {
                    background-size: contain;
                    background-repeat: repeat-y;
                    background-position: top center;
                    width: 80%;
                    margin: 0 10%;
                }

                .parts {
                    .part {
                        &:first-child {

                            .name {
                                font-size: 14px;
                            }

                            .comment {
                                font-size: 10px;
                                margin-left: 4px;
                            }
                        }

                        &:last-child {

                            .name {
                                font-size: 12px;
                            }

                            .comment {
                                font-size: 10px;
                            }
                        }
                    }
                    &.title {
                        .part {
                            .name {
                                font-size: 16px;
                            }

                        }
                    }
                }
            }
        }
    }
}

@mixin Menu-List-02 {
    .menu-list-02 {
        .inner-section {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 8px;
            padding-left: 300px;
            padding-right: 60px;
            background-color: $mainColorOrangeLight;
            // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            // background-color: $mainColorCyan;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 33%;
                height: 100%;
                background-image: var(--data-bg-image);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .parts {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                gap: 32px;
                // padding-left: 33%;

                .part {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    &:first-child {

                        // &::before {
                        //     content: '';
                        //     display: inline-flex;
                        //     height: 2px;
                        //     width: 100%;
                        //     background-color: black;
                        // }

                        .name {
                            font-family: "TanTheWhistling";
                            font-size: 18px;
                            font-weight: 600;
                            color: $mainColorBlueDark;
                        }

                        .comment {
                            margin-left: 12px;
                            font-family: "TanTheWhistling";
                            font-size: 13px;
                            font-weight: 300;
                            font-style: italic;

                            &:empty {
                                display: none;
                            }
                        }
                    }

                    &:last-child {

                        .name {
                            font-size: 16px;
                            // font-weight: 600;
                            white-space: nowrap;
                        }

                        .comment {
                            font-size: 14px;
                            font-weight: 300;
                            font-style: italic;

                            &:empty {
                                display: none;
                            }
                        }
                    }
                }

                &.title {
                    margin: 20px 0;
                    border-bottom: 1px solid $mainColorBlueDark;

                    .part {
                        .name {
                            color: $mainColorBlueDark;
                            font-family: "TanTheWhistling";
                            font-size: 20px;
                            font-weight: 900;
                        }

                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .menu-list-02 {
            padding: 20px 16px;

            .inner-section {
                padding: 16px 12px;

                &::before {
                    content: '';
                    position: static;
                    width: 100%;
                    height: 50dvw;
                    margin-top: -16px;
                    margin-left: -12px;
                    padding-left: 12px;
                    margin-right: -12px;
                    padding-right: 12px;
                    background-image: var(--data-bg-image);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .parts {
                    .part {
                        &:first-child {

                            .name {
                                font-size: 14px;
                            }

                            .comment {
                                font-size: 10px;
                                margin-left: 4px;
                            }
                        }

                        &:last-child {

                            .name {
                                font-size: 12px;
                            }

                            .comment {
                                font-size: 10px;
                            }
                        }
                    }
                    &.title {
                        .part {
                            .name {
                                font-size: 16px;
                            }

                        }
                    }
                }
            }
        }
    }
}
@mixin Menu-List-03 {
    .menu-list-03 {
        .inner-section {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 8px;
            padding-left: 300px;
            padding-right: 60px;
            background-color: $mainColorOrangeLight;
            // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            // background-color: $mainColorCyan;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 33%;
                height: 100%;
                background-image: var(--data-bg-image);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .parts {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                gap: 32px;
                // padding-left: 33%;

                .part {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    &:first-child {

                        // &::before {
                        //     content: '';
                        //     display: inline-flex;
                        //     height: 2px;
                        //     width: 100%;
                        //     background-color: black;
                        // }

                        .name {
                            font-family: "TanTheWhistling";
                            font-size: 18px;
                            font-weight: 600;
                            color: $mainColorBlueDark;
                        }

                        .comment {
                            margin-left: 12px;
                            font-family: "TanTheWhistling";
                            font-size: 13px;
                            font-weight: 300;
                            font-style: italic;

                            &:empty {
                                display: none;
                            }
                        }
                    }

                    &:last-child {

                        .name {
                            font-size: 16px;
                            // font-weight: 600;
                            white-space: nowrap;
                        }

                        .comment {
                            font-size: 14px;
                            font-weight: 300;
                            font-style: italic;

                            &:empty {
                                display: none;
                            }
                        }
                    }
                }

                &.title {
                    margin: 20px 0;
                    border-bottom: 1px solid $mainColorBlueDark;

                    .part {
                        .name {
                            color: $mainColorBlueDark;
                            font-family: "TanTheWhistling";
                            font-size: 20px;
                            font-weight: 900;
                        }

                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .menu-list-03 {
            padding: 20px 16px;

            .inner-section {
                padding: 16px 12px;

                &::before {
                    content: '';
                    position: static;
                    width: 100%;
                    height: 50dvw;
                    margin-top: -16px;
                    margin-left: -12px;
                    padding-left: 12px;
                    margin-right: -12px;
                    padding-right: 12px;
                    background-image: var(--data-bg-image);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .parts {
                    .part {
                        &:first-child {

                            .name {
                                font-size: 14px;
                            }

                            .comment {
                                font-size: 10px;
                                margin-left: 4px;
                            }
                        }

                        &:last-child {

                            .name {
                                font-size: 12px;
                            }

                            .comment {
                                font-size: 10px;
                            }
                        }
                    }
                    &.title {
                        .part {
                            .name {
                                font-size: 16px;
                            }

                        }
                    }
                }
            }
        }
    }
}