@mixin Login-Popup {
    html {
        &:has(.popup.active) {
            overflow: hidden;
        }
    }
    .popup {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        width: 100dvw;
        height: 100dvh;
        background-color: rgba(0, 0, 0, .4);
        z-index: 50;

        &.active {
            display: flex;
        }

        .inner-popup {
            position: relative;

            .close {
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
        }

        &#login-popup {
            .inner-popup {
                width: 90dvw;
                height: 70dvh;
                max-width: 800px;
                min-height: 600px;
                border-radius: 20px;
                background-color: white;
                display: flex;

                .left-part {
                    width: 40%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 20px 0 0 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .right-part {
                    width: 60%;
                    height: 100%;
                    padding: 120px 20px;

                    .form {
                        display: none;
                        // flex-direction: column;
                        gap: 12px;
                        width: 100%;
                        height: 100%;
                        flex-wrap: wrap;

                        &.active {
                            display: flex;
                        }

                        .content {
                            flex: 1 1 100%;
                            .comment {
                                font-size: 12px;
                                color: $fontColor;
                            }
                        }

                        // input {
                        //     width: inherit;
                        //     height: 56px;
                        //     border: 1px solid $mainColorBlueDark;
                        //     border-radius: 4px;
                        // }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .popup {
            .inner-popup {
                min-height: unset!important;
            }

            &#login-popup {
                .inner-popup {
                    flex-direction: column;
                    margin: 5dvw 0;
                    overflow: hidden;
                    .left-part {
                        width: 100%;
                        height: 40%;
                        border-radius: 6px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .right-part {
                        width: 100%;
                        padding: 24px 12px 12px;
                        overflow-y: scroll;
                        form {
                            height: unset!important;
                            gap: 24px!important;
                            .outer-input {
                                &.half-input {
                                    flex: 1 1 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}