<div class="inner-footer">
    <div class="left-part">
        <div class="part">
            <p class="title text-16">Mediterranean Yoga Studio</p>
            <div class="adress"><i class="fa-solid fa-location-dot white fs-16 text-10"></i><span
                    class="text-12">Davutlar Mah. 6635 Bulvar
                    Artan Yaşam Residence 5E
                    Kuşadası / Aydın</span></div>
            <div class="contact">
                <a href="mailto:mediterraneanyogastudio@gmail.com"><i class="fa-solid fa-envelope white fs-16"></i><span
                        class="text-12">mediterraneanyogastudio@gmail.com</span></a>
                <a href="tel:05321301468"><i class="fa-solid fa-phone white fs-16"></i><span
                        class="text-12">05321301468</span></a>
            </div>
            <div class="social-medias">
                <i class="fa-brands fa-instagram white fs-16"></i>
                <i class="fa-brands fa-facebook white fs-16"></i>
            </div>
        </div>
        <div class="part">
            <p class="title text-16">Kitchen No:8</p>
            <div class="adress"><i class="fa-solid fa-location-dot white fs-16"></i><span class="text-12">Davutlar Mah.
                    6635 Bulvar
                    Artan Yaşam Residence 5E
                    Kuşadası / Aydın</span></div>
            <div class="contact">
                <a href="tel:05321301468"><i class="fa-solid fa-phone white fs-16"></i><span
                        class="text-12">05321301468</span></a>
            </div>
            <div class="social-medias">
                <i class="fa-brands fa-instagram white fs-16"></i>
                <i class="fa-brands fa-facebook white fs-16"></i>
            </div>
        </div>
    </div>
    <div class="right-part">
        <div class="parts">
            <div class="part">
                <div class="title">Lokasyon</div>
                <div class="qr-code">
                    <img src="/assets/img/dummy/qr-code.png" alt="Menu Qr Code">
                </div>
            </div>
            <div class="part">
                <div class="title">QR Menu</div>
                <div class="qr-code">
                    <img src="/assets/img/dummy/qr-code.png" alt="Menu Qr Code">
                </div>
            </div>
        </div>
    </div>
</div>