<!--Main Navbar-->
<nav id="main-header">
    <div class="bottom-nav">
        <ul>
            <li>
                <a href="/mediterranean-yoga/index.html">
                    <span>Mediterranean Yoga</span>
                    <img src="/assets/img/logo/Mediterranean_logo.jpg" alt="Mediterranean">
                </a>
            </li>
            <li>
                <a href="/no08-kitchen/index.html" class="reverse-row">
                    <span>No:08 Kitchen</span>
                    <img src="/assets/img/logo/No08_logo.jpg" alt="No08">
                </a>
            </li>
        </ul>
    </div>
</nav>


<!--Yoga Navbar-->
<nav id="mediterranean-yoga-header">
    <div class="top-nav">
        <div class="left">
            <div class="locations">
                <a class="location" role="button">
                    <!-- <img src="/assets/img/icon/locationBlue.svg" alt="Lokasyon"> -->
                    <i class="fa-solid fa-location-dot darkblue fs-24"></i>
                    <span>Lokasyon</span>
                </a>
            </div>
            <a class="phone" role="button">
                <!-- <img src="/assets/img/icon/phoneBlue.svg" alt="Telefon"> -->
                <i class="fa-solid fa-phone darkblue fs-24"></i>
                <span>05321301468</span>
            </a>
        </div>
        <div class="middle">
            <a href="/index.html" class="logo">
                <!-- <img src="/assets/img/logo/Mediterranean_logo.jpg" alt="Mediterranean Yoga"> -->
                <span>Mediterranean Yoga & KitchenNo8</span>
            </a>
        </div>
        <div class="right">
            <a class="login" type="button" data-modal-trigger="login-popup"><span>Giriş Yap</span></a>
            <div class="social-medias">
                <a href="#">
                    <!-- <img src="/assets/img/icon/instagramBlue.svg" alt="Instagram"> -->
                    <i class="fa-brands fa-instagram darkblue fs-24"></i>
                </a>
            </div>
            <div class="hamburger-menu">
                <i class="fa-solid fa-bars darkblue fs-24"></i>
            </div>
        </div>
    </div>
    <div class="nav-links">
        <a href="/mediterranean-yoga/index.html" class="logo">
            <!-- <img src="/assets/img/logo/Mediterranean_logo.jpg" alt="Mediterranean Yoga"> -->
            <span>Mediterranean Yoga</span>
        </a>
        <ul class="sub-links">
            <li class="active">
                <a href="/mediterranean-yoga/egitim-alanlari/index.html">
                    <span>Eğitim Alanları</span>
                </a>
            </li>
            <li>
                <a href="/mediterranean-yoga/abonelik-plani/index.html">
                    <span>Abonelik Planı</span>
                </a>
            </li>
            <!-- <li>
                <a href="/mediterranean-yoga/yoga-uzmanlari/index.html">
                    <span>Yoga Uzmanları</span>
                </a>
            </li> -->
            <li>
                <a href="/mediterranean-yoga/etkinlikler/index.html">
                    <span>Etkinlikler</span>
                </a>
            </li>
            <li>
                <a href="/mediterranean-yoga/ekibimiz-ile-tanisin/index.html">
                    <span>Ekibimiz ile Tanışın</span>
                </a>
            </li>
            <li>
                <a href="/mediterranean-yoga/blog/index.html">
                    <span>Blog</span>
                </a>
            </li>
            <li class="mobile">
                <a role="button">
                    <i class="fa-solid fa-location-dot darkblue fs-24"></i>
                    <span>Lokasyon</span>
                </a>
            </li>
            <li class="mobile">
                <a class="phone" role="button">
                    <i class="fa-solid fa-phone darkblue fs-24"></i>
                    <span>05321301468</span>
                </a>
            </li>
            <li class="mobile">
                <a href="/index.html" class="main-menu">
                    <span class="text-20 underline">Mediterranean Yoga & KitchenNo8</span>
                </a>
            </li>
        </ul>
        <a href="/no08-kitchen/index.html" class="logo other-site">
            <span>No:08 Kitchen</span>
        </a>
    </div>
    <div id="login-popup" class="popup">
        <div class="inner-popup w-592">
            <div class="left-part">
                <img src="/assets/img/dummy/login-01.jpg" alt="Kayıt Ol">
            </div>
            <div class="right-part">
                <form class="form active">
                    <div class="content">
						<h2 class="title text-24">Kayıt Olun</h2>
						<!-- <div class="comment"></div> -->
					</div>
					<div class="outer-input half-input">
						<div class="inner-input">
							<input type="text" class="" id="name" name="name" min="2" max="20" befill>
							<label for="name" class="i-placeholder">Ad</label>
						</div>
						<h5 class="input-error"></h5>
					</div>
                    <div class="outer-input half-input">
						<div class="inner-input">
							<input type="text" class="" id="surname" name="surname" min="2" max="20" befill>
							<label for="surname" class="i-placeholder">Soyad</label>
						</div>
						<h5 class="input-error"></h5>
					</div>
                    <div class="outer-input">
						<div class="inner-input">
							<input type="email" class="" id="mail" name="mail" befill>
							<label for="mail" class="i-placeholder">E-Posta</label>
						</div>
						<h5 class="input-error"></h5>
					</div>
                    <div class="outer-input">
						<div class="inner-input">
							<input type="text" class="" id="password" name="password" befill>
							<label for="password" class="i-placeholder">Şifre</label>
						</div>
						<h5 class="input-error"></h5>
					</div>
                    <div class="buttons">
                        <button class="button btn-form btn-submit" disabled><span>Kayıt Ol</span></button>
                        <a type="button" class="button btn-change-next-form"><span>Zaten Üyeyim</span></a>
					</div>
                </form>
                <form class="form">
                    <div class="content">
						<h2 class="title text-24">Giris Yap</h2>
						<!-- <div class="comment"></div> -->
					</div>
                    <div class="outer-input">
						<div class="inner-input">
							<input type="email" class="" id="mail" name="mail" befill>
							<label for="mail" class="i-placeholder">E-Posta</label>
						</div>
						<h5 class="input-error"></h5>
					</div>
                    <div class="outer-input">
						<div class="inner-input">
							<input type="text" class="" id="password" name="password" befill>
							<label for="password" class="i-placeholder">Şifre</label>
						</div>
						<h5 class="input-error"></h5>
					</div>
                    <div class="buttons">
                        <button class="button btn-form btn-submit" disabled><span>Giris Yap</span></button>
                        <a type="button" class="button btn-change-prev-form"><span>Kayıt Olun</span></a>
					</div>
                </form>
                </form>
            </div>
            <i class="fa-solid fa-close darkblue fs-32 close" data-modal-trigger="login-popup"></i>
        </div>
    </div>
</nav>

<!--Kitchen Navbar-->
<nav id="kitchen-no8-header">
    <div class="top-nav">
        <div class="left">
            <div class="locations">
                <a class="location" role="button">
                    <!-- <img src="/assets/img/icon/locationBlue.svg" alt="Lokasyon"> -->
                    <i class="fa-solid fa-location-dot darkblue fs-24"></i>
                    <span>Lokasyon</span>
                </a>
            </div>
            <a class="phone" role="button">
                <!-- <img src="/assets/img/icon/phoneBlue.svg" alt="Telefon"> -->
                <i class="fa-solid fa-phone darkblue fs-24"></i>
                <span>05321301468</span>
            </a>
        </div>
        <div class="middle">
            <a href="/index.html" class="logo">
                <!-- <img src="/assets/img/logo/Mediterranean_logo.jpg" alt="Mediterranean Yoga"> -->
                <span>Mediterranean Yoga & KitchenNo8</span>
            </a>
        </div>
        <div class="right">
            <div class="social-medias">
                <a href="#">
                    <!-- <img src="/assets/img/icon/instagramBlue.svg" alt="Instagram"> -->
                    <i class="fa-brands fa-instagram darkblue fs-24"></i>
                </a>
            </div>
            <div class="hamburger-menu">
                <i class="fa-solid fa-bars darkblue fs-24"></i>
            </div>
        </div>
    </div>
    <div class="nav-links">
        <a href="/no08-kitchen/index.html" class="logo">
            <!-- <img src="/assets/img/logo/Mediterranean_logo.jpg" alt="Mediterranean Yoga"> -->
            <span>KitchenNo8</span>
        </a>
        <ul class="sub-links">
            <li class="">
                <a href="/no08-kitchen/menu/index.html">
                    <span>Menü</span>
                </a>
            </li>
            <li class="mobile">
                <a role="button">
                    <i class="fa-solid fa-location-dot darkblue fs-24"></i>
                    <span>Lokasyon</span>
                </a>
            </li>
            <li class="mobile">
                <a class="phone" role="button">
                    <i class="fa-solid fa-phone darkblue fs-24"></i>
                    <span>05321301468</span>
                </a>
            </li>
            <li class="mobile">
                <a href="/index.html" class="main-menu">
                    <span class="text-20 underline">Mediterranean Yoga & KitchenNo8</span>
                </a>
            </li>
        </ul>
        <a href="/mediterranean-yoga/index.html" class="logo other-site">
            <span>Mediterranean Yoga</span>
        </a>
    </div>
</nav>