@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: "TanTheWhistling";
  src: url("../fonts/tan-the-whistling.woff2");
}
.text-1412 {
  font-size: clamp(12px, calc(10.8px + 0.25vw), 14px);
}

.text-1614 {
  font-size: clamp(14px, calc(12.8px + 0.25vw), 16px);
}

.text-1816 {
  font-size: clamp(16px, calc(14.8px + 0.25vw), 18px);
}

.text-2016 {
  font-size: clamp(16px, calc(13.6px + 0.5vw), 20px);
}

.text-2416 {
  font-size: clamp(16px, calc(11.2px + 1vw), 24px);
}

.text-3220 {
  font-size: clamp(20px, calc(12.8px + 1.5vw), 32px);
}

.text-2418 {
  font-size: clamp(18px, calc(14.4px + 0.75vw), 24px);
}

.text-2420 {
  font-size: clamp(20px, calc(17.6px + 0.5vw), 24px);
}

.text-3224 {
  font-size: clamp(24px, calc(19.2px + 1vw), 32px);
}

.text-4032 {
  font-size: clamp(32px, calc(27.2px + 1vw), 40px);
}

.text-16 {
  font-size: 16px;
}

.text-10 {
  font-size: 10px;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

.text-32 {
  font-size: 32px;
}

.text-60 {
  font-size: 60px;
}

.text-36 {
  font-size: 36px;
}

.text-72 {
  font-size: 72px;
}

:root {
  --mainColorCyan: #d9edde;
  --mainColorBlueDark: #0097b2;
  --mainColorOrangeLight: #ffeecd;
  --mainColorOrangeDark: #ffd194;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.items-flex-start {
  align-items: flex-start;
}

.items-flex-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.gap-4 {
  gap: 4px;
}

.gap-x-4 {
  gap: 4px;
}

.gap-y-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-x-8 {
  gap: 8px;
}

.gap-y-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-x-12 {
  gap: 12px;
}

.gap-y-12 {
  gap: 12px;
}

.gap-12 {
  gap: 16px;
}

.gap-x-16 {
  gap: 16px;
}

.gap-y-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-x-20 {
  gap: 20px;
}

.gap-y-20 {
  gap: 20px;
}

.gap-24 {
  gap: 24px;
}

.gap-x-24 {
  gap: 24px;
}

.gap-y-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-x-32 {
  gap: 32px;
}

.gap-y-32 {
  gap: 32px;
}

.container {
  width: 100%;
}

.container-xxl {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container-xl {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.container-l {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.container-m {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
}

.container-s {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.object-bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.object-top {
  -o-object-position: top;
     object-position: top;
}

.object-left {
  -o-object-position: left;
     object-position: left;
}

.object-right {
  -o-object-position: right;
     object-position: right;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.top-50 {
  top: 50%;
}

.bottom-50 {
  bottom: 50%;
}

.left-50 {
  left: 50%;
}

.right-50 {
  right: 50%;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.translate-50 {
  transform: translate(50%, 50%);
}

.translate-x-50 {
  transform: translateX(50%);
}

.translate-y-50 {
  transform: translateY(50%);
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.p-6 {
  padding: 8px;
}

.pt-6 {
  padding-top: 8px;
}

.pb-6 {
  padding-bottom: 8px;
}

.pl-6 {
  padding-left: 8px;
}

.pr-6 {
  padding-right: 8px;
}

.px-6 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-6 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-12 {
  padding: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.p-16 {
  padding: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pl-16 {
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.p-24 {
  padding: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.p-32 {
  padding: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pl-32 {
  padding-left: 32px;
}

.pr-32 {
  padding-right: 32px;
}

.px-12020 {
  padding-left: clamp(20px, calc(-93.3333333333px + 16.6666666667vw), 120px);
  padding-right: clamp(20px, calc(-93.3333333333px + 16.6666666667vw), 120px);
}

.py-6020 {
  padding-top: clamp(20px, calc(-25.3333333333px + 6.6666666667vw), 60px);
  padding-bottom: clamp(20px, calc(-25.3333333333px + 6.6666666667vw), 60px);
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin: 0;
}

.my-0 {
  margin: 0;
}

.rounded-none {
  border-radius: 0px;
}

.rounded-sm {
  border-radius: 8px;
}

.rounded-md {
  border-radius: 16px;
}

.rounded-lg {
  border-radius: 24px;
}

.rounded-xl {
  border-radius: 32px;
}

.rounded-2xl {
  border-radius: 48px;
}

.rounded-3xl {
  border-radius: 50%;
}

.border-1 {
  border-width: 1px;
}

.border-1 {
  border-width: 2px;
}

.border-1 {
  border-width: 4px;
}

.border-solid {
  border-style: solid;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.max-w-379 {
  max-width: 370px;
}

.max-w-154 {
  max-width: 154px;
}

.w-100 {
  width: 100%;
}

.opacity-1 {
  opacity: .1;
}

.opacity-2 {
  opacity: .2;
}

.opacity-3 {
  opacity: .3;
}

.opacity-4 {
  opacity: .4;
}

.opacity-5 {
  opacity: .5;
}

.opacity-6 {
  opacity: .6;
}

.opacity-7 {
  opacity: .7;
}

.opacity-8 {
  opacity: .8;
}

.opacity-9 {
  opacity: .9;
}

.opacity-10 {
  opacity: 1;
}

@media screen and (max-width: 1170px) {
  .mq-l\:px-default {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.reverse-row {
  flex-direction: row-reverse;
}

[class^=fa-].darkblue {
  color: var(--mainColorBlueDark);
}
[class^=fa-].lightblue {
  color: var(--mainColorCyan);
}
[class^=fa-].darkorange {
  color: var(--mainColorOrangeDark);
}
[class^=fa-].lightorange {
  color: var(--mainColorOrangeLight);
}
[class^=fa-].white {
  color: white;
}
[class^=fa-].fs-16 {
  font-size: 16px;
}
[class^=fa-].fs-18 {
  font-size: 18px;
}
[class^=fa-].fs-20 {
  font-size: 20px;
}
[class^=fa-].fs-24 {
  font-size: 24px;
}
[class^=fa-].fs-28 {
  font-size: 28px;
}
[class^=fa-].fs-32 {
  font-size: 32px;
}

a:hover .fa-brands.darkblue {
  color: var(--mainColorOrangeDark);
}
a:hover .fa-brands.darkorange {
  color: var(--mainColorBlueDark);
}

.tabs-section.type-01 .inner-section .tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  min-width: 1220px;
}
.tabs-section.type-01 .inner-section .tabs .tab {
  counter: var(--mainColorBlueDark);
  text-decoration: underline;
  cursor: pointer;
  font-family: "TanTheWhistling";
  font-weight: 700;
  text-underline-offset: 4px;
}
.tabs-section.type-01 .inner-section .tabs .tab.active {
  color: var(--mainColorOrangeDark);
  pointer-events: none;
}

.outer-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 100%;
  width: 100%;
}
.outer-input.half-input {
  width: 45%;
  flex: 1 1 45%;
}
.outer-input.not-empty .inner-input label.i-placeholder {
  top: 15.5px;
  transform: unset;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.01em;
}
.outer-input .inner-input {
  position: relative;
}
.outer-input .inner-input input {
  width: 100%;
  max-width: inherit;
  height: 54px;
  padding: 24px 12px 12px;
  border-radius: 4px;
  outline: none;
  border-bottom: 1px solid #DEE3ED;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #222943;
}
.outer-input .inner-input input:active, .outer-input .inner-input input:focus-visible {
  border: unset;
}
.outer-input .inner-input input[type=number]::-webkit-inner-spin-button, .outer-input .inner-input input[type=number]::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
.outer-input .inner-input label.i-placeholder {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #222943;
}
.outer-input .counter {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.outer-input .counter span {
  font-weight: 700;
}
.outer-input h5.input-error {
  color: #E63425;
  font-size: 12px;
}
.outer-input h5.input-error:empty {
  height: 0;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.buttons .button {
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--mainColorBlueDark);
  text-decoration: none;
}
.buttons .button span {
  color: var(--mainColorBlueDark);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
}
.buttons .button[disabled] {
  pointer-events: none;
  border-color: lightgray;
}
.buttons .button[disabled] span {
  color: lightgray;
}
.buttons .button.btn-send-before-form {
  flex: 1 1 100%;
  border: unset;
  text-decoration: underline;
  text-underline-offset: 4px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  font-family: Inter;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html.overflow {
  overflow-y: hidden;
}

body {
  position: relative;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
}

button {
  outline: none;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  line-height: normal;
}

ul li {
  list-style: none;
}

h1 {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

html.active {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "TanTheWhistling" !important;
}

a {
  color: initial;
}
a[type=button] {
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 50;
  background-color: var(--mainColorCyan);
  box-shadow: 0px 2px 12px 6px rgba(88, 100, 115, 0.07);
}
header * {
  color: var(--mainColorBlueDark);
}
header a:hover * {
  color: var(--mainColorOrangeDark);
}

nav {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: inherit;
  flex-direction: column;
  padding: 0;
  padding-left: clamp(20px, calc(-476.8px + 46vw), 112px);
  padding-right: clamp(20px, calc(-476.8px + 46vw), 112px);
}
nav .top-nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
nav .top-nav .left {
  height: inherit;
  display: inherit;
  justify-content: inherit;
  gap: 12px;
}
nav .top-nav .left .locations {
  display: flex;
  align-items: center;
  gap: 12px;
}
nav .top-nav .left .locations .location {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
nav .top-nav .left .locations .location:hover img {
  content: url("/assets/img/icon/locationOrange.svg");
}
nav .top-nav .left .locations .location span {
  font-size: 12px;
}
nav .top-nav .left .locations .location img {
  width: 24px;
  height: auto;
}
nav .top-nav .left .phone {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
nav .top-nav .left .phone:hover img {
  content: url("/assets/img/icon/phoneOrange.svg");
}
nav .top-nav .left .phone span {
  font-size: 12px;
}
nav .top-nav .left .phone img {
  width: 22px;
  height: auto;
}
nav .top-nav .middle a {
  height: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .top-nav .middle a span {
  font-family: "TanTheWhistling" !important;
  font-size: 20px;
  font-weight: 900;
  text-decoration: underline !important;
  text-underline-offset: 4px;
}
nav .top-nav .right {
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: center;
  gap: 12px;
}
nav .top-nav .right .login {
  border: 1px solid var(--mainColorBlueDark);
  border-radius: 10px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  max-height: 30px;
  background-color: var(--mainColorBlueDark);
  transition: all 0.3s ease-out;
}
nav .top-nav .right .login span {
  color: var(--mainColorCyan);
  font-size: 12px;
}
nav .top-nav .right .login:hover {
  border: 1px solid var(--mainColorOrangeDark);
  background-color: var(--mainColorOrangeDark);
}
nav .top-nav .right .login:hover span {
  color: var(--mainColorOrangeLight);
}
nav .top-nav .right .social-medias {
  display: flex;
  align-items: center;
  gap: 4px;
}
nav .top-nav .right .social-medias a {
  cursor: pointer;
  display: flex;
  align-items: center;
}
nav .top-nav .right .hamburger-menu {
  display: none;
  cursor: pointer;
}
nav .top-nav .right .hamburger-menu.active i::before {
  content: "\f00d" !important;
}
nav .bottom-nav {
  height: 120px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
nav .bottom-nav ul {
  height: inherit;
  display: flex;
  gap: 16px;
}
nav .bottom-nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .bottom-nav ul li a {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
nav .bottom-nav ul li a span {
  font-family: "TanTheWhistling" !important;
  font-size: 24px;
  font-weight: 600;
}
nav .bottom-nav ul li a img {
  height: 100px;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
}
nav .nav-links {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
nav .nav-links .logo {
  height: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-links .logo img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
}
nav .nav-links .logo span {
  font-family: "TanTheWhistling" !important;
  font-size: 20px;
  font-weight: 900;
}
nav .nav-links .logo.other-site span {
  font-size: 16px;
  text-decoration: underline !important;
  text-underline-offset: 4px;
}
nav .nav-links .sub-links {
  height: inherit;
  display: flex;
  gap: 16px;
  margin: 0 auto;
}
nav .nav-links .sub-links li {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-links .sub-links li.mobile {
  display: none;
}
nav .nav-links .sub-links li a span {
  font-family: "TanTheWhistling" !important;
  font-size: 16px;
  font-weight: 600;
}
nav .nav-links .sub-links li.active a span {
  color: var(--mainColorOrangeDark);
}

@media screen and (max-width: 980px) {
  nav .top-nav {
    height: 40px;
  }
  nav .top-nav .middle {
    display: none;
  }
  nav .top-nav .right .hamburger-menu {
    display: block;
  }
  nav .bottom-nav {
    height: 60px;
  }
  nav .bottom-nav ul li a span {
    font-size: 16px;
  }
  nav .bottom-nav ul li a img {
    height: 50px;
  }
  nav .nav-links .sub-links {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100dvh - 80px);
    flex-direction: column;
    background-color: var(--mainColorOrangeLight);
    padding: 20px 16px;
    gap: 20px;
  }
  nav .nav-links .sub-links li {
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid var(--mainColorBlueDark);
  }
  nav .nav-links .sub-links.active {
    display: flex;
  }
}
@media screen and (max-width: 540px) {
  nav .top-nav {
    justify-content: flex-end;
  }
  nav .top-nav .left {
    display: none;
  }
  nav .bottom-nav {
    height: 60px;
  }
  nav .bottom-nav ul {
    gap: 8px;
  }
  nav .bottom-nav ul li a {
    gap: 8px;
  }
  nav .bottom-nav ul li a span {
    font-size: 10px;
  }
  nav .bottom-nav ul li a img {
    height: 40px;
  }
  nav .nav-links .logo.other-site span {
    font-size: 14px;
  }
  nav .nav-links .logo span {
    font-size: 16px;
  }
  nav .nav-links .sub-links {
    padding: 20px 16px;
    gap: 12px;
  }
  nav .nav-links .sub-links li {
    justify-content: flex-start;
    width: 100%;
  }
  nav .nav-links .sub-links li.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: unset;
  }
  nav .nav-links .sub-links li.mobile:first-of-type {
    margin-top: 32px;
  }
  nav .nav-links .sub-links li.mobile .main-menu {
    text-underline-offset: 4px;
  }
}
footer {
  width: 100%;
  background-color: var(--mainColorBlueDark);
}
footer .inner-footer {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 40px;
  padding-left: clamp(20px, calc(-476.8px + 46vw), 112px);
  padding-right: clamp(20px, calc(-476.8px + 46vw), 112px);
  align-items: baseline;
}
footer .inner-footer * {
  color: white;
}
footer .inner-footer .left-part {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 32px;
}
footer .inner-footer .left-part .part {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 300px;
}
footer .inner-footer .left-part .part .title {
  font-size: 12px;
}
footer .inner-footer .left-part .part .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
footer .inner-footer .left-part .part .contact a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
footer .inner-footer .left-part .part > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
footer .inner-footer .right-part .parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
footer .inner-footer .right-part .parts .part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
footer .inner-footer .right-part .parts .part .qr-code {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--mainColorOrangeDark);
}
footer .inner-footer .right-part .parts .part .qr-code img {
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 768px) {
  footer .inner-footer .left-part {
    flex-direction: column;
  }
  footer .inner-footer .left-part .part {
    max-width: 400px;
  }
  footer .inner-footer .left-part .part .title {
    font-size: 20px;
  }
  footer .inner-footer .left-part .part > div * {
    font-size: 14px;
  }
  footer .inner-footer .right-part .parts {
    flex-direction: column;
  }
}
@media screen and (max-width: 540px) {
  footer .inner-footer {
    flex-direction: column;
  }
  footer .inner-footer .left-part .part {
    max-width: unset;
  }
  footer .inner-footer .right-part {
    width: 100%;
    justify-content: center;
  }
  footer .inner-footer .right-part .parts {
    flex-direction: unset;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.swiper {
  width: 100%;
  height: calc(100dvh - 100px);
  /* border-bottom: 1px solid black; */
}
.swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-slider {
  position: relative;
  overflow: hidden;
}
#main-slider .bottoPartAnim {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 20dvw;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 10;
  -webkit-clip-path: polygon(0% 39%, 3% 35%, 6% 32%, 9% 29%, 10% 28%, 13% 25%, 15% 23%, 17% 22%, 20% 20%, 22% 20%, 25% 19%, 28% 18%, 30% 18%, 34% 19%, 37% 20%, 41% 22%, 45% 26%, 50% 29%, 52% 30%, 55% 30%, 60% 31%, 62% 30%, 65% 30%, 68% 28%, 70% 27%, 72% 26%, 74% 24%, 78% 22%, 81% 20%, 84% 17%, 88% 14%, 90% 13%, 92% 9%, 96% 7%, 99% 5%, 100% 2%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 39%, 3% 35%, 6% 32%, 9% 29%, 10% 28%, 13% 25%, 15% 23%, 17% 22%, 20% 20%, 22% 20%, 25% 19%, 28% 18%, 30% 18%, 34% 19%, 37% 20%, 41% 22%, 45% 26%, 50% 29%, 52% 30%, 55% 30%, 60% 31%, 62% 30%, 65% 30%, 68% 28%, 70% 27%, 72% 26%, 74% 24%, 78% 22%, 81% 20%, 84% 17%, 88% 14%, 90% 13%, 92% 9%, 96% 7%, 99% 5%, 100% 2%, 100% 100%, 0% 100%);
}

#certificates .inner-section {
  max-width: 1440px;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
}

#page-detail .inner-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#page-detail .inner-section h2 {
  font-size: 40px;
  color: var(--mainColorOrangeDark);
  font-weight: 800;
}
#page-detail .inner-section .breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
#page-detail .inner-section .breadcrumb li {
  display: contents;
  margin-right: 12px;
}
#page-detail .inner-section .breadcrumb li a {
  font-family: "TanTheWhistling";
}
#page-detail .inner-section .breadcrumb li::after {
  content: ">";
  display: block;
  font-family: "TanTheWhistling";
  font-size: 16px;
  font-weight: 800;
  color: black;
}
#page-detail .inner-section .breadcrumb li:last-of-type {
  pointer-events: none;
}
#page-detail .inner-section .breadcrumb li:last-of-type a {
  color: var(--mainColorOrangeDark);
}
#page-detail .inner-section .breadcrumb li:last-of-type::after {
  content: none;
}

@media screen and (max-width: 768px) {
  #page-detail .inner-section .breadcrumb {
    gap: 4px;
  }
  #page-detail .inner-section .breadcrumb li {
    font-size: 10px;
  }
  #page-detail .inner-section .breadcrumb li::after {
    font-size: 10px;
  }
  #page-detail .inner-section .breadcrumb li:not(:first-child, :last-child) {
    display: none;
  }
  #page-detail .inner-section .breadcrumb li:nth-last-child(2) {
    display: contents;
  }
  #page-detail .inner-section .breadcrumb li:nth-last-child(2) a {
    display: none;
  }
  #page-detail .inner-section .breadcrumb li:nth-last-child(2)::before {
    content: "...";
    padding: 0 12px;
  }
}
#about {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}
#about .inner-section {
  max-width: 1440px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding-right: clamp(0px, 256px - 20vw, 20px);
  padding-left: clamp(0px, 256px - 20vw, 20px);
  display: flex;
}
#about .inner-section .left-part {
  flex: 1 1 50%;
  width: 50%;
}
#about .inner-section .left-part .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#about .inner-section .left-part .content h2 {
  font-size: 20px;
  font-weight: 700;
}
#about .inner-section .right-part {
  flex: 1 1 50%;
  height: 30dvw;
  width: 50%;
}
#about .inner-section .right-part img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-list .inner-section {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  flex-wrap: wrap;
}
.card-list .inner-section.flex-count-1 > div {
  flex: 1 1 100%;
}
.card-list .inner-section.flex-count-2 > div {
  flex: 1 1 min(50%, var(--card-minWidth));
}
.card-list .inner-section.flex-count-3 > div {
  flex: 1 1 min(33%, var(--card-minWidth));
}
.card-list .inner-section.flex-count-4 > div {
  flex: 1 1 min(25%, var(--card-minWidth));
}
.card-list .inner-section.flex-count-5 > div {
  flex: 1 1 min(20%, var(--card-minWidth));
}

@media screen and (max-width: 980px) {
  .card-list .inner-section {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .card-list .inner-section > div {
    flex: 1 1 100% !important;
    min-width: unset;
  }
}
.detail-content .inner-section .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.detail-content .inner-section .info .left-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.detail-content .inner-section .info .left-part span {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--mainColorBlueDark);
}
.detail-content .inner-section .info .left-part span img {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
}
.detail-content .inner-section .info .left-part span:not(:last-child)::after {
  content: "/";
}
.detail-content .inner-section .info .right-part {
  display: flex;
  align-items: center;
  gap: 8px;
}
.detail-content .inner-section .content {
  margin-top: 32px;
}
.detail-content .inner-section .content ul,
.detail-content .inner-section .content ol {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  font-family: Inter;
}
.detail-content .inner-section .content ul li,
.detail-content .inner-section .content ol li {
  position: relative;
  font-size: clamp(14px, calc(12.8666666667px + 0.1666666667vw), 15px);
  list-style: disc;
}
.detail-content .inner-section .content ul li::marker,
.detail-content .inner-section .content ol li::marker {
  width: 8px;
  height: 8px;
  color: var(--mainColorBlueDark);
  font-size: 20px;
}
.detail-content .inner-section .content ul li a,
.detail-content .inner-section .content ol li a {
  transition: all 0.6s ease;
}
.detail-content .inner-section .content ul li a:hover,
.detail-content .inner-section .content ol li a:hover {
  text-decoration: underline;
}
.detail-content .inner-section .content ol[start] li::before {
  content: none;
}
.detail-content .inner-section .content p,
.detail-content .inner-section .content h4 {
  padding: 6px 0;
  font-family: Inter;
  font-size: clamp(14px, calc(12.8666666667px + 0.1666666667vw), 15px);
  margin-bottom: 10px;
}
.detail-content .inner-section .content h4 {
  font-weight: bold;
}
.detail-content .inner-section .content table {
  width: 100%;
  margin-top: clamp(18px, calc(-29.6px + 7vw), 60px);
  margin-bottom: clamp(18px, calc(-29.6px + 7vw), 60px);
  color: #fff;
}
.detail-content .inner-section .content table tr {
  height: clamp(55px, calc(49.3333333333px + 0.8333333333vw), 60px);
  font-size: clamp(14px, calc(12.8666666667px + 0.1666666667vw), 15px);
  text-align: left;
}
.detail-content .inner-section .content table tr:first-child {
  background-color: rgba(8, 190, 201, 0.25);
}
.detail-content .inner-section .content table tr:nth-child(2n+3) {
  background-color: rgba(196, 196, 196, 0.05);
}
.detail-content .inner-section .content table tr th {
  font-weight: 700;
  margin: auto;
  padding-left: clamp(11px, calc(-8.2666666667px + 2.8333333333vw), 28px);
}
.detail-content .inner-section .content table tr td {
  font-weight: 400;
  margin: auto;
  padding-left: clamp(11px, calc(-8.2666666667px + 2.8333333333vw), 28px);
}
.detail-content .inner-section .content h3,
.detail-content .inner-section .content h4,
.detail-content .inner-section .content h5,
.detail-content .inner-section .content h6,
.detail-content .inner-section .content p {
  font-size: 16px;
  padding-top: clamp(4px, calc(-5.0666666667px + 1.3333333333vw), 12px);
}
.detail-content .inner-section .content h6,
.detail-content .inner-section .content p {
  font-size: 16px;
  line-height: 24px;
}
.detail-content .inner-section .content h3,
.detail-content .inner-section .content h4,
.detail-content .inner-section .content h5,
.detail-content .inner-section .content h6 {
  font-weight: 700;
}
.detail-content .inner-section .content h3 {
  font-size: 30px;
}
.detail-content .inner-section .content h4 {
  font-size: 24px;
}
.detail-content .inner-section .content h5 {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .detail-content .inner-section .info {
    flex-direction: column;
    align-items: flex-end;
  }
}
.popup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}
.popup.active {
  display: flex;
}
.popup .inner-popup {
  position: relative;
}
.popup .inner-popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.popup#login-popup .inner-popup {
  width: 90dvw;
  height: 70dvh;
  max-width: 800px;
  border-radius: 20px;
  background-color: white;
  display: flex;
}
.popup#login-popup .inner-popup .left-part {
  width: 40%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
}
.popup#login-popup .inner-popup .left-part img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup#login-popup .inner-popup .right-part {
  width: 60%;
  height: 100%;
  padding: 120px 20px;
}
.popup#login-popup .inner-popup .right-part .form {
  display: none;
  gap: 12px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.popup#login-popup .inner-popup .right-part .form.active {
  display: flex;
}
.popup#login-popup .inner-popup .right-part .form .content {
  flex: 1 1 100%;
}

.banner.type-01 .inner-section picture {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 500px;
  border-radius: 20px;
  overflow: hidden;
}
.banner.type-01 .inner-section picture img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .banner.type-01 .inner-section picture {
    max-height: unset;
    aspect-ratio: 1/1;
    border-radius: 10px;
  }
}
.menu-top-side .inner-section .curved-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -60px;
}
.menu-top-side .inner-section .curved-title .curved-text {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: 100px;
  margin: 0 auto;
}
.menu-top-side .inner-section .curved-title .curved-text span {
  min-width: 0.5em;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 32px;
  font-family: "TanTheWhistling";
}
.menu-top-side .inner-section .title {
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.menu-list-01 .inner-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  border: 10px solid var(--mainColorCyan);
}
.menu-list-01 .inner-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: var(--data-bg-image);
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5) opacity(0.3);
}
.menu-list-01 .inner-section .parts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 32px;
}
.menu-list-01 .inner-section .parts .part {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.menu-list-01 .inner-section .parts .part:first-child .name {
  font-family: "TanTheWhistling";
  font-size: 18px;
  font-weight: 600;
  color: var(--mainColorBlueDark);
}
.menu-list-01 .inner-section .parts .part:first-child .comment {
  margin-left: 12px;
  font-family: "TanTheWhistling";
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
}
.menu-list-01 .inner-section .parts .part:first-child .comment:empty {
  display: none;
}
.menu-list-01 .inner-section .parts .part:last-child .name {
  font-size: 16px;
}
.menu-list-01 .inner-section .parts .part:last-child .comment {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}
.menu-list-01 .inner-section .parts .part:last-child .comment:empty {
  display: none;
}
.menu-list-01 .inner-section .parts.title {
  margin: 20px 0;
}
.menu-list-01 .inner-section .parts.title .part .name {
  color: var(--mainColorBlueDark);
  font-family: "TanTheWhistling";
  font-size: 20px;
  font-weight: 900;
}

.card.type-01-v1 {
  --card-minWidth: 280px;
  display: none;
  max-width: 350px;
  min-width: var(--card-minWidth);
  width: 100%;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}
.card.type-01-v1:nth-child(1) .bottom-part .content {
  color: #454249;
}
.card.type-01-v1:nth-child(2) .bottom-part .content {
  color: #3C3C3C;
}
.card.type-01-v1:nth-child(3) .bottom-part .content {
  color: #3E4243;
}
.card.type-01-v1:nth-child(4) .bottom-part .content {
  color: #5F696B;
}
.card.type-01-v1:nth-child(5) .bottom-part .content {
  color: #3F4136;
}
.card.type-01-v1.active {
  display: block;
}
.card.type-01-v1 .top-part {
  position: relative;
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #f7f7f7;
}
.card.type-01-v1 .top-part .image {
  width: inherit;
  overflow: hidden;
  height: inherit;
  overflow: hidden;
}
.card.type-01-v1 .top-part .image img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.card.type-01-v1 .top-part .badge {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  padding: 20px 12px;
  background-color: var(--mainColorOrangeDark);
  color: white;
  font-weight: 800;
  border-radius: 4px;
  max-width: 70%;
  width: 100%;
  text-align: center;
}
.card.type-01-v1 .bottom-part {
  position: relative;
  padding: 32px 20px;
  height: 200px;
}
.card.type-01-v1 .bottom-part .content h3 {
  font-size: 20px;
  font-weight: 800;
}
.card.type-01-v1 .bottom-part .content .comment {
  margin-top: 32px;
  font-size: 16px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.card.type-01-v1 .bottom-part .buttons {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.card.type-01-v1 .bottom-part .buttons:has(.btn:nth-child(2)) {
  justify-content: space-between;
}
.card.type-01-v1 .bottom-part .buttons .btn {
  background-color: var(--mainColorOrangeDark);
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
}
.card.type-01-v1 .bottom-part .buttons .btn:hover {
  background-color: var(--mainColorOrangeLight);
  color: var(--mainColorOrangeDark);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .card.type-01 .top-part .badge {
    padding: 16px 12px;
  }
}
.card.type-01-v2 {
  --card-minWidth: 280px;
  display: none;
  max-width: 350px;
  min-width: var(--card-minWidth);
  width: 100%;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}
.card.type-01-v2:nth-child(1) .bottom-part .content {
  color: #454249;
}
.card.type-01-v2:nth-child(2) .bottom-part .content {
  color: #3C3C3C;
}
.card.type-01-v2:nth-child(3) .bottom-part .content {
  color: #3E4243;
}
.card.type-01-v2:nth-child(4) .bottom-part .content {
  color: #5F696B;
}
.card.type-01-v2:nth-child(5) .bottom-part .content {
  color: #3F4136;
}
.card.type-01-v2.active {
  display: block;
}
.card.type-01-v2 .top-part {
  position: relative;
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #f7f7f7;
}
.card.type-01-v2 .top-part .image {
  width: inherit;
  overflow: hidden;
  height: inherit;
  overflow: hidden;
}
.card.type-01-v2 .top-part .image img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.card.type-01-v2 .top-part .badge {
  position: absolute;
  left: 20px;
  bottom: 0;
  transform: translate(0%, 50%);
  padding: 12px;
  background-color: var(--mainColorOrangeDark);
  color: white;
  font-size: 12px;
  border-radius: 4px;
}
.card.type-01-v2 .top-part .badge-profile {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-10%, 10%);
  width: 48px;
  height: 48px;
  background-color: var(--mainColorOrangeDark);
  border-radius: 50%;
  overflow: hidden;
}
.card.type-01-v2 .top-part .badge-profile img {
  width: inherit;
  height: inherit;
}
.card.type-01-v2 .bottom-part {
  position: relative;
  padding: 32px 20px;
  height: 200px;
}
.card.type-01-v2 .bottom-part .content h3 {
  font-size: 20px;
  font-weight: 800;
}
.card.type-01-v2 .bottom-part .content .comment {
  margin-top: 32px;
  font-size: 16px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.card.type-01-v2 .bottom-part .buttons {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.card.type-01-v2 .bottom-part .buttons:has(.btn:nth-child(2)) {
  justify-content: space-between;
}
.card.type-01-v2 .bottom-part .buttons .btn {
  background-color: var(--mainColorOrangeDark);
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
}
.card.type-01-v2 .bottom-part .buttons .btn:hover {
  background-color: var(--mainColorOrangeLight);
  color: var(--mainColorOrangeDark);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .card.type-01 .top-part .badge {
    padding: 16px 12px;
  }
}
.card.type-02-v2 {
  display: none;
  width: 100%;
  max-width: 100%;
  max-height: 400px;
  aspect-ratio: 2/1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}
.card.type-02-v2.active {
  display: flex;
}
.card.type-02-v2 .top-part {
  flex: 1 1 40%;
}
.card.type-02-v2 .top-part .image {
  width: 100%;
  height: 100%;
  aspect-ratio: inherit;
  overflow: hidden;
}
.card.type-02-v2 .top-part .image img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.card.type-02-v2 .bottom-part {
  padding: 12px 8px;
  flex: 1 1 60%;
  margin: auto 0;
}
.card.type-02-v2 .bottom-part .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}
.card.type-02-v2 .bottom-part .content .info {
  overflow-y: scroll;
  height: 250px;
}
.card.type-02-v2 .bottom-part .content .info::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #DEE3ED;
}
.card.type-02-v2 .bottom-part .content .info::-webkit-scrollbar-track {
  border-radius: 4px;
}
.card.type-02-v2 .bottom-part .content .info::-webkit-scrollbar-thumb {
  background: #4983C3;
  border-radius: 10px;
}
.card.type-02-v2 .bottom-part .content .info::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #20B2E3 0%, #5476B9 100%);
}
.card.type-02-v2 .bottom-part .content .info::-webkit-scrollbar-button {
  display: none;
}
.card.type-02-v2 .bottom-part .content .social-medias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.card.type-02-v2 .bottom-part .content .social-medias a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColorOrangeDark);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.card.type-02-v2 .bottom-part .content .social-medias a img {
  width: 16px;
  height: auto;
}

@media screen and (max-width: 980px) {
  .card.type-02-v2 {
    max-width: 270px;
    flex-direction: column;
    min-height: unset;
    max-height: unset;
  }
  .card.type-02-v2 .top-part {
    aspect-ratio: 3/4;
    flex: 1 1 50%;
  }
  .card.type-02-v2 .bottom-part {
    margin: unset;
    flex: 1 1 50%;
  }
  .card.type-02-v2 .bottom-part .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
  }
  .card.type-02-v2 .bottom-part .content .info {
    overflow: none;
    -webkit-line-clamp: unset;
  }
}
.card.type-03-v2 {
  --card-minWidth: 280px;
  display: none;
  max-width: 350px;
  min-width: var(--card-minWidth);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}
.card.type-03-v2.active {
  display: block;
}
.card.type-03-v2 .top-part {
  position: relative;
  aspect-ratio: 2/1;
  background-color: var(--mainColorOrangeLight);
}
.card.type-03-v2 .top-part .content {
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card.type-03-v2 .top-part .content .title {
  font-size: 24px;
  text-align: center;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card.type-03-v2 .top-part .badge {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 12px 8px;
  background-color: var(--mainColorBlueDark);
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 8px;
}
.card.type-03-v2 .top-part .badge div {
  display: flex;
  align-items: baseline;
  gap: 8px;
  color: white;
}
.card.type-03-v2 .top-part .badge div .price {
  font-size: 16px;
  font-weight: 600;
}
.card.type-03-v2 .top-part .badge div .time {
  font-size: 12px;
  font-style: italic;
}
.card.type-03-v2 .bottom-part {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  min-height: 262px;
}
.card.type-03-v2 .bottom-part .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.card.type-03-v2 .bottom-part .content .title {
  font-size: 24px;
  text-align: center;
}
.card.type-03-v2 .bottom-part .content .comment {
  font-size: 14px;
  text-align: justify;
  font-style: italic;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  height: 85px;
}
.card.type-03-v2 .bottom-part .content .dots {
  overflow-y: scroll;
  height: 100%;
  max-height: 85px;
  padding: 0 20px;
}
.card.type-03-v2 .bottom-part .content .dots::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #DEE3ED;
}
.card.type-03-v2 .bottom-part .content .dots::-webkit-scrollbar-track {
  border-radius: 4px;
}
.card.type-03-v2 .bottom-part .content .dots::-webkit-scrollbar-thumb {
  background: #4983C3;
  border-radius: 10px;
}
.card.type-03-v2 .bottom-part .content .dots::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #20B2E3 0%, #5476B9 100%);
}
.card.type-03-v2 .bottom-part .content .dots::-webkit-scrollbar-button {
  display: none;
}
.card.type-03-v2 .bottom-part .content .dots li {
  list-style: disc;
  font-size: 12px;
}
.card.type-03-v2 .bottom-part .content .dots li::marker {
  color: var(--mainColorBlueDark);
  font-size: 20px;
}
.card.type-03-v2 .bottom-part .buttons {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.card.type-03-v2 .bottom-part .buttons:has(.btn:nth-child(2)) {
  justify-content: space-between;
}
.card.type-03-v2 .bottom-part .buttons .btn {
  padding: 12px 20px;
  background-color: var(--mainColorBlueDark);
  color: white;
  font-size: 16px;
  border-radius: 10px;
}
.card.type-03-v2 .bottom-part .buttons .btn:hover {
  background-color: var(--mainColorCyan);
  color: var(--mainColorBlueDark);
  transition: all 0.3s ease-in-out;
}

.card.type-04 {
  --card-minWidth: 400px;
  position: relative;
  display: none;
  width: 100%;
  max-width: 50%;
  max-height: 500px;
  height: 100%;
  aspect-ratio: 5/4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}
.card.type-04.active {
  display: block;
}
.card.type-04.passive .image {
  position: relative;
}
.card.type-04.passive .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, rgba(0, 151, 178, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.card.type-04.passive .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, rgba(255, 209, 148, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.card.type-04 .image {
  width: 100%;
  height: inherit;
  max-height: inherit;
}
.card.type-04 .image img {
  width: 100%;
  height: inherit;
  max-height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.card.type-04 .badge {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  padding: 20px 12px;
  background-color: var(--mainColorBlueDark);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  transition: all 0.5s linear;
}
.card.type-04:hover .badge {
  transform: translate(0, -50%);
}
.card.type-04:hover.passive .badge {
  background-color: #3C3C3C;
}
.card.type-04:hover.passive .badge i {
  color: white;
}

@media screen and (max-width: 980px) {
  .card.type-04 {
    max-width: 100%;
    margin-bottom: 10%;
  }
  .card.type-04 .badge {
    top: 100%;
    left: 50%;
  }
}
@media screen and (max-width: 480px) {
  .card.type-04 .badge {
    padding: 8px;
    gap: 4px;
  }
  .card.type-04 .badge span {
    font-size: 10px;
  }
  .card.type-04 .badge i {
    font-size: 20px;
  }
}
.card.type-05 {
  position: relative;
  display: none;
  width: 100%;
  max-width: 360px;
  max-height: 360px;
  height: 100%;
}
.card.type-05.active {
  display: flex;
}
.card.type-05 .image {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.card.type-05 .image img {
  width: 100%;
  max-height: 220px;
  -o-object-fit: fill;
     object-fit: fill;
}
.card.type-05 .content {
  position: absolute;
  left: 20px;
  top: 50px;
  width: 50%;
  height: 60%;
  background-color: var(--mainColorBlueDark);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 60px 4px;
  z-index: -1;
  transition: all 0.4s linear;
}
.card.type-05 .content h3 {
  font-size: 24px;
  color: white;
}
.card.type-05:hover .content {
  top: 0px;
  height: 70%;
}